# Ejercicio:
A partir del set de datos considerado en el enunciado del TP 1 el cual se encuentra
publicado en piazza realizar, utilizando pandas realizar
 * La apertura y carga del set de datos en un dataframe.
 * Mostrar, para la región EMEA , los datos: ID, Territory, Delivery_Quarter,
Delivery_Year para los 10 proyectos con mayor Total Amount .
 * Calcular el promedio del precio (Columna: Price ) para el territorio (Columna:
Territory) cuyo valor sea “ Germany ”.

In [38]:
import pandas as pd

### 1) Apertura y carga del set de datos en un dataframe

In [39]:
entrenamiento_eci_df = pd.read_csv('Entrenamieto_ECI_2020.csv')
entrenamiento_eci_df.head()

,ID,Region,Territory,"Pricing, Delivery_Terms_Quote_Appr","Pricing, Delivery_Terms_Approved",Bureaucratic_Code_0_Approval,Bureaucratic_Code_0_Approved,Submitted_for_Approval,Bureaucratic_Code,Account_Created_Date,...,Delivery_Quarter,Delivery_Year,Actual_Delivery_Date,TRF,Total_Amount_Currency,Total_Amount,Total_Taxable_Amount_Currency,Total_Taxable_Amount,Stage,Prod_Category_A
0,27761,EMEA,None,1,1,1,1,0,Bureaucratic_Code_4,6/16/2015,...,Q2,2016,NaT,10,EUR,5272800.0,EUR,5272800.0,Closed Lost,Prod_Category_A_None
1,27760,EMEA,None,0,0,0,0,0,Bureaucratic_Code_4,6/16/2015,...,Q1,2016,NaT,0,EUR,48230.0,EUR,48230.0,Closed Won,Prod_Category_A_None
2,27446,Americas,NW America,0,0,0,0,0,Bureaucratic_Code_4,4/21/2015,...,Q1,2016,NaT,0,USD,83865.6,USD,83865.6,Closed Won,Prod_Category_A_None
3,16808,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,14,USD,7421881.5,USD,7421881.5,Closed Lost,Prod_Category_A_None
4,16805,Americas,NW America,1,0,1,0,0,Bureaucratic_Code_5,7/27/2013,...,Q1,2018,NaT,25,USD,13357192.5,USD,13357192.5,Closed Lost,Prod_Category_A_None

### 2) Mostrar, para la región EMEA , los datos: ID, Territory, Delivery_Quarter, Delivery_Year para los 10 proyectos con mayor Total Amount .

In [40]:
columnas_pedidas = ['ID','Territory','Delivery_Quarter','Delivery_Year','Total_Amount']

#Consigo los que estan en la region EMEA
datos_region_emea_df=entrenamiento_eci_df.loc[entrenamiento_eci_df['Region']=='EMEA',columnas_pedidas]

**Se muestran los datos pedidos de los 10 proyectos con mayor Total Amount de la region EMEA**

In [41]:
datos_region_emea_df.nlargest(10,'Total_Amount').drop(['Total_Amount'],axis=1)

         ID    Territory Delivery_Quarter  Delivery_Year
2179  10808         None               Q2           2016
3667   8037   SE America               Q3           2017
2806   4909  UAE (Dubai)               Q1           2017
1933  10620   Kazakhstan               Q2           2016
2957  13709      Romania               Q2           2016
598    4865       France               Q4           2017
7898  15287      Belgium               Q1           2018
1817  10350      Romania               Q3           2017
3684  20848        Italy               Q4           2016
5669  17668      Germany               Q1           2017

### 3)Calcular el promedio del precio (Columna: Price) para el territorio (Columna:Territory) cuyo valor sea “Germany”.

In [42]:
precios_alemania_s = entrenamiento_eci_df.loc[entrenamiento_eci_df.Territory.str.contains('Germany'),'Price']

precios_alemania_s = pd.to_numeric(precios_alemania_s,errors='coerce')

**El promedio del precio para el territorio de Alemania es:**

In [43]:
round(precios_alemania_s.mean(),4)

0.2647