In [59]:
import pandas as pd

1- Dado el registro de notas de los alumnos de la forma (padrón, materia, nota, fecha). Se pide
resolver utilizando Pandas:
*  Cuál es el promedio general de notas.
* Cuál es la nota más alta y la nota más baja registrada durante el año 2019.
* Cuál es el padrón con mayor cantidad de materias aprobadas durante el último
cuatrimestre.
* Cuál es la nota promedio por materia.
* Cuál es la nota promedio por padrón.

*Se genero la data a traves de http://generatedata.com/*

In [60]:
# Cargo los datos encontrados
informacion_alumnos_df = pd.read_csv('Datasets/NotasAlumnos.csv')
informacion_alumnos_df.head()

   padron      materia  nota     fecha
0   10338      algebra     1  17-10-19
1   10330  computacion     5  21-01-21
2   10303  computacion     9  19-10-20
3   10379       taller     6  07-12-20
4   10335   algoritmos     2  22-02-21

**Cuál es el promedio general de notas.**

In [61]:
informacion_alumnos_df['nota'].mean()

5.35

**Cuál es la nota más alta y la nota más baja registrada durante el año 2019.**

In [62]:
informacion_alumnos_df['fecha'] = pd.to_datetime(informacion_alumnos_df['fecha'])
anio_pedido = informacion_alumnos_df['fecha'].dt.year == 2019
notas_en_anio_s = informacion_alumnos_df.loc[anio_pedido,'nota']

In [63]:
#La nota mas alta es...
notas_en_anio_s.max()

8

In [64]:
#La nota mas baja es...
notas_en_anio_s.min()

1

**Cuál es el padrón con mayor cantidad de materias aprobadas durante el último cuatrimestre.**

In [65]:
# Un alumno esta aprobado si la nota es mayor a 4. Se considera como ultimo cuatrimestre desde 1/8/19 al 12/12/19

#Busco las notas de ese cuatrimestre
fechas_cuatrimestre = ('01-08-2019'<=informacion_alumnos_df['fecha']) & (informacion_alumnos_df['fecha']<='12-12-2019')
aprobo = informacion_alumnos_df['nota']>=4
#Filtro
notas_cuatrimestre_s = informacion_alumnos_df.loc[fechas_cuatrimestre & aprobo,'padron']
#Veo cual es el que aprobo mas
notas_cuatrimestre_s.value_counts().nlargest(1)

10375    1
Name: padron, dtype: int64

**Cuál es la nota promedio por materia.**

In [66]:
materias_agrupadas = informacion_alumnos_df.groupby(by='materia')
round(materias_agrupadas['nota'].mean(),2)

materia
algebra        5.37
algoritmos     5.73
analisis       5.93
computacion    6.15
fisica         4.73
numerico       4.23
taller         5.13
Name: nota, dtype: float64

**Cuál es la nota promedio por padrón.**

In [67]:
alumnos_agrupados = informacion_alumnos_df.groupby(by='padron')
alumnos_agrupados.mean()

        nota
padron
10300   10.0
10301    1.0
10302    4.0
10303    8.5
10304    2.0
...      ...
10381    9.0
10382    5.0
10383    9.5
10384    3.0
10385    3.0

[61 rows x 1 columns]