2- Se tiene un registro de transacciones bancarias, de la forma (nro de transacción, tipo de
transacción, cuenta origen, cuenta destino, fecha, hora, monto). Se pide resolver en Pandas:
* Validar que todas las transacciones cuenten con un tipo de transacción.  
* Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta origen como cuenta destino.  
* Verificar que todas las transacciones del tipo transferencia, depósito y extracción cuenten con montos distintos de cero.  
* Indicar cuáles fueron las 10 transacciones de mayor monto.  
* Indicar cuál es el tipo de transacción que registra mayor monto promedio.  
* Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.  
* Indicar cuáles son las 5 cuentas con mayor monto involucrado.  
* Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son las 5 cuentas con más transacciones.

***Datos generados mediante http://generatedata.com/***

In [67]:
import pandas as pd

In [68]:
transacciones_bancarias_df = pd.read_csv('Datasets/TransaccionesBancos.csv')
transacciones_bancarias_df.head()

,Numero_transaccion,Tipo,Cuenta_origen,Cuenta_destino,Fecha,Monto
0,888898,NaN,16200109 8256,16040426 9037,05-12-19,1822
1,347027,prestamo,16401018 5843,16710220 6021,23-12-20,1457
2,250910,transferencia,16990212 7225,16750528 0250,16-11-20,7964
3,516273,extraccion,16770709 8138,16030909 2153,19-07-21,5887
4,187540,extraccion,16931129 8997,16201216 7538,22-05-21,4862

**Validar que todas las transacciones cuenten con un tipo de transacción.**

In [69]:
transacciones_bancarias_df['Tipo'].isnull().value_counts()

False    81
True     19
Name: Tipo, dtype: int64

Hay 19 transacciones que estarian sin un tipo

*Saco los valores nulos*

In [70]:
transacciones_bancarias_df.dropna(inplace = True)

**Validar que para las transacciones del tipo transferencia, exista siempre tanto cuenta
origen como cuenta destino**

In [71]:
es_transferencia = transacciones_bancarias_df['Tipo'].str.contains('transferencia')
cuentas_de_transferencias = transacciones_bancarias_df.loc[es_transferencia,['Cuenta_origen','Cuenta_destino']]
cuentas_de_transferencias.isnull().any()

Cuenta_origen     False
Cuenta_destino    False
dtype: bool

**Verificar que todas las transacciones del tipo transferencia, depósito y extracción
cuenten con montos distintos de cero.**

In [72]:
extrac_depos_transf = transacciones_bancarias_df['Tipo'].str.contains('transferencia|extraccion|deposito',regex=True)

In [73]:
monto_s = transacciones_bancarias_df.loc[extrac_depos_transf, 'Monto']

In [74]:
(monto_s != 0).all()

True

**Indicar cuáles fueron las 10 transacciones de mayor monto.**

In [75]:
transacciones_bancarias_df.nlargest(10,'Monto')

,Numero_transaccion,Tipo,Cuenta_origen,Cuenta_destino,Fecha,Monto
46,85197,prestamo,16830129 9874,16040227 0367,07-04-21,9456
7,139301,deposito,16251229 2802,16990121 7803,06-05-20,9439
36,327012,deposito,16280307 4885,16610329 8607,14-04-21,9425
97,713763,extraccion,16101215 6723,16390215 7365,23-09-20,9297
98,369319,credito,16710109 8726,16541009 2828,02-03-21,9085
84,318181,extraccion,16610302 2684,16600206 7442,23-03-20,8723
99,482014,prestamo,16740905 8604,16691018 1830,19-07-20,8493
20,857734,transferencia,16301107 2968,16300319 2667,20-08-20,8159
81,960758,deposito,16740507 4761,16180103 0998,22-10-20,8159
39,364785,prestamo,16700314 5617,16481215 9376,22-08-21,8065

**Indicar cuál es el tipo de transacción que registra mayor monto promedio.**

*Busco el monto promedio para cada tipo de transaccion*

In [76]:
transacciones_agrupadas = transacciones_bancarias_df.groupby(by='Tipo')

In [77]:
round(transacciones_agrupadas['Monto'].mean().nlargest(1),2)

Tipo
deposito    6409.31
Name: Monto, dtype: float64

**Indicar cuáles son las 5 cuentas con mayor cantidad de transacciones.**

In [78]:
cuentas_agrupadas = transacciones_bancarias_df.groupby(by='Cuenta_origen')

In [79]:
cuentas_agrupadas['Numero_transaccion'].count().nlargest(5) # En este caso son todos 1 :/

Cuenta_origen
16001218 4446    1
16030415 1004    1
16030607 9484    1
16050121 6246    1
16060202 6684    1
Name: Numero_transaccion, dtype: int64

**Indicar cuáles son las 5 cuentas con mayor monto involucrado.**

In [80]:
cuentas_agrupadas['Monto'].sum().nlargest(5)

Cuenta_origen
16830129 9874    9456
16251229 2802    9439
16280307 4885    9425
16101215 6723    9297
16710109 8726    9085
Name: Monto, dtype: int64

**Para el tipo de transacción con mayor cantidad de monto promedio, indicar cuales son
las 5 cuentas con más transacciones.**

In [81]:
transaccion_mayor_monto_promedio_s = transacciones_agrupadas['Monto'].mean().nlargest(1)

trans_del_mayor_monto_promedio = transacciones_bancarias_df['Tipo'].str.contains(transaccion_mayor_monto_promedio_s.index[0])

transacciones_bancarias_df.loc[trans_del_mayor_monto_promedio,['Cuenta_origen','Monto']].nlargest(5,'Monto')

    Cuenta_origen  Monto
7   16251229 2802   9439
36  16280307 4885   9425
81  16740507 4761   8159
42  16470214 7176   7578
88  16631114 8958   6487